{% set area = 'financeiro' %}
{% extends "theme/base.twig" %}
{% block JSfiles %}
    {{ parent() }}
    <script src="/assets/js/local/issMunicipio_cad_form.js?v=14"></script>
    <script src="/assets/plugins/jquery/js/jquery.datatables1.10.19.js"></script>
    <script src="/assets/plugins/jquery/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/plugins/bootstrap-wizard/bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js?v=14"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>
{% endblock %}
{% block title %}
    Iss por município
{% endblock %}
{% block CSSfiles %}
    {{ parent() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href='{{ base_url() }}/assets/plugins/datepicker/css/bootstrap-datepicker.min.css' rel='stylesheet'>
    <link href='{{ base_url() }}/assets/plugins/bootstrap/css/dataTables.bootstrap4.min.css' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/bootstrap-wizard/bootstrap.wizard.css" rel="stylesheet" type="text/css">
    <link href='/assets/plugins/daterangepicker/daterangepicker.css?v={{ JSversion }}' rel='stylesheet' type='text/css'>

{% endblock %}
{% block content %}
    <BR>
    <main class="main-content">  
        <div class="container">
            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        &nbsp;
                    </div>
                </div>
                <div class="row ">
                    <div  tabindex="-1" role="dialog" aria-labelledby="modal-set-ramalLabel" >
                        <div class="col-lg" style="max-width:1245px;margin-left: auto;margin-right: auto;background-color: #F7F7F7;">
                            <form id="form" class="form">
                                <input type="hidden" id="pk" name="pk" value="{{ pk }}"/>
                                <div class="shadow-lg bg-white rounded mb-4" style="padding: 15px;background-color: #F7F7F7">
                                    <div class="card-header" style="background-color: #F7F7F7">
                                        <div class="card-title col-sm-4">
                                            <h5 style= "color:#FF5403">Cadastro de Iss por município</h5>
                                        </div>
                                        <div class='col-sm-8' align="Right">
                                            <button type="button" class="btn btn-secondary btn-sm" id="cmdCancelar">Voltar</button>
                                            <button type="button" class="btn btn-primary btn-sm" id="cmdEnviar">Salvar</button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class='row'>
                                            <div class='col-md-4'>
                                                &nbsp;
                                            </div>
                                            <div class='col-md-4'>
                                                <label for="ds_discriminacao_servico">UF:&nbsp;</label>
                                                <select class='form-control form-control-sm chzn-select'  id='ds_uf' name='ds_uf'>
                                                    <option></option>
                                                    <option>AC</option>
                                                    <option>AL</option>
                                                    <option>AP</option>
                                                    <option>AM</option>
                                                    <option>BA</option>
                                                    <option>CE</option>
                                                    <option>DF</option>
                                                    <option>ES</option>
                                                    <option>GO</option>
                                                    <option>MA</option>
                                                    <option>MT</option>
                                                    <option>MS</option>
                                                    <option>MG</option>
                                                    <option>PA</option>
                                                    <option>PB</option>
                                                    <option>PR</option>
                                                    <option>PE</option>
                                                    <option>PI</option>
                                                    <option>RJ</option>
                                                    <option>RN</option>
                                                    <option>RS</option>
                                                    <option>RO</option>
                                                    <option>RR</option>
                                                    <option>SC</option>
                                                    <option>SP</option>
                                                    <option>SE</option>
                                                    <option>TO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-4'>
                                                &nbsp;
                                            </div>
                                            <div class='col-md-4'>
                                                <label for="ds_discriminacao_servico">Cidade:&nbsp;</label>
                                                <select class='form-control form-control-sm chzn-select'  id='ds_cidade' name='ds_cidade'>
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-4'>
                                                &nbsp;
                                            </div>
                                            <div class='col-md-4'>
                                                <label for="ds_discriminacao_servico">Alíquota ISS :&nbsp;</label>
                                                <input type="text" class="form-control form-control-sm" id="vl_aliquota_iss">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-4">
                                                <label for="ic_status">Status:&nbsp;</label>
                                                <select id="ic_status" class="form-control form-control-sm chzn-select" name="ic_status">
                                                    <option value=""></option>
                                                    <option value="1">Ativo</option>
                                                    <option value="2">Desativado</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


