{% set area = 'operacional' %}
{% extends "theme/base.twig" %}

{% block JSfiles %}
    {{ parent() }}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.8/index.global.min.js'></script>
    <script src="/assets/plugins/fullcalendar/lib/jquery.min.js"></script>
    <script src="/assets/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="/assets/plugins/fullcalendar/lang-all.js"></script>

    <script src="/assets/plugins/jquery/js/jquery.datatables1.10.19.js"></script>
    <script src="/assets/plugins/jquery/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/plugins/bootstrap-wizard/bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js?v=14"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>


    <script src="/assets/js/local/calendario_escala.js?v=14"></script>
    <script src="/assets/js/local/inc_apontamento_colaborador_cad_form.js?v=14"></script>
    <script src="/assets/js/local/inc_apontamento_ponto_cad_form.js?v=14"></script>
    <script src="/assets/js/local/inc_apontamento_falta_cad_form.js?v=14"></script>
    <script src="/assets/js/local/inc_apontamento_folga_cad_form.js?v=14"></script>
    <script src="/assets/js/local/inc_apontamento_troca_escala_cad_form.js?v=14"></script>
    <script src="/assets/js/local/inc_apontamento_afastamento_cad_form.js?v=14"></script>
    <script src="/assets/js/local/inc_apontamento_ferias_cad_form.js?v=14"></script>
    <script src="/assets/js/local/inc_apontamento_servico_extra_cad_form.js?v=14"></script>

{% endblock %}
{% block title %}
    Acompanhamento de Ponto
{% endblock %}
{% block CSSfiles %}
    {{ parent() }}

    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href='{{ base_url() }}/assets/plugins/datepicker/css/bootstrap-datepicker.min.css' rel='stylesheet'>
    <link href='{{ base_url() }}/assets/plugins/bootstrap/css/dataTables.bootstrap4.min.css' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/bootstrap-wizard/bootstrap.wizard.css" rel="stylesheet" type="text/css">
    <style>
    .elemento {
        width: 93vw;
        padding: 15px;  /* Largura igual a 100% da largura da tela */
    }
    </style>
{% endblock %}
{% block content %}
    <BR>
    <main class="main-content" style="width: 1200px;padding: 15px;">
        <div class="container col" >
            <div class="container col-md-12">

                <div class="row ">
                    <div>
                        <div class="col-lg-12" >
                            <div class="shadow-lg bg-white rounded mb-9 elemento" >
                                <div class="card-header" style="background-color: #F7F7F7">
                                    <div class="card-title col-sm-2">
                                        <h5 style= "color:#FF5403"  >Acompanhamento de Ponto</h5>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="widget bg-gray-light">
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <h6 align="center">Legendas</h6>

                                                        <div id='draggable-events' align="center">

                                                            <div class="draggable-event btn btn-block" style="background-color:#63ed83;width: 200px; color:black">
                                                                <i class="fa fa-move"></i>Ponto registrado
                                                            </div>
                                                            <div class="draggable-event btn btn-block" style="background-color:#FFFF73;width: 220px; color:black">
                                                                <i class="fa fa-move"></i>Falta
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <br>
                                                    <hr>
                                                    <br>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Posto de Trabalho</label>
                                                        <select class='form-control form-control-sm chzn-select'  id='leads_pk' name='leads_pk' >
                                                            <option><option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for='colaboradores_pk_agenda'>Colaboradores: </label><p>
                                                            <select class="form-control form-control-sm chzn-select" id="colaborador_calendario" name="colaborador_calendario">
                                                                <option></option>
                                                            </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="produtos_servicos_pk">Qualificação:</label><p>
                                                            <select id="produtos_servicos_pk" class="form-control form-control-sm chzn-select" name="produtos_servicos_pk">
                                                                <option value=""></option>
                                                            </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="ds_caonta">Escala:</label><p>
                                                            <select class='form-control form-control-sm chzn-select'  id='n_qtde_dias_semana' name='n_qtde_dias_semana' >
                                                                <option value=''></option>
                                                                <option value='1D'>1D</option>
                                                                <option value='2D'>2D</option>
                                                                <option value='3D'>3D</option>
                                                                <option value='4D'>4D</option>
                                                                <option value='4x1'>4x1</option>
                                                                <option value='4x2'>4x2</option>
                                                                <option value='5x1'>5x1</option>
                                                                <option value='5x2'>5x2</option>
                                                                <option value='6X1'>6X1</option>
                                                                <option value='12x36'>12x36</option>
                                                            </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="ds_caonta">Tipo Escala:</label><p>
                                                            <select class='form-control form-control-sm chzn-select'  id='tipo_escala_pk' name='tipo_escala_pk' />
                                                            <option></option>
                                                            <option value="1">Impar</option>
                                                            <option value="2">Par</option>
                                                            </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="agenda_colaborador_padrao_pk" name="agenda_colaborador_padrao_pk" value="">
                                    <input type="hidden" id="colaborador_apontamento_pk" name="colaborador_apontamento_pk" value="">
                                    <input type="hidden" id="dt_dia_apontamento" name="dt_dia_apontamento" value="">
                                    <input type="hidden" id="origem" name="origem" value="calendario_escala">
                                    <div class="col-md-12">
                                        <br>
                                        <br>
                                        <br>
                                        <div id="calendar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include('partials/inc_apontamento_colaborador_cad_form.twig') %}
{% endblock %}