{% set area = 'relatorios' %}
{% extends "theme/base.twig" %}
{% block JSfiles %}
    {{ parent() }}
    <script src="/assets/plugins/jquery/js/jquery.datatables1.10.19.js"></script>
    <script src="/assets/plugins/jquery/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/plugins/bootstrap-wizard/bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js?v=14"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>
    <script src="/assets/js/local/rel_fluxo_caixa_pesq.js?v=14"></script>
{% endblock %}
{% block title %}
     Relatório Fluxo de Caixa
{% endblock %}
{% block CSSfiles %}
    {{ parent() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href='{{ base_url() }}/assets/plugins/datepicker/css/bootstrap-datepicker.min.css' rel='stylesheet'>
    <link href='{{ base_url() }}/assets/plugins/bootstrap/css/dataTables.bootstrap4.min.css' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/bootstrap-wizard/bootstrap.wizard.css" rel="stylesheet" type="text/css">
    <link href='/assets/plugins/daterangepicker/daterangepicker.css?v={{ JSversion }}' rel='stylesheet' type='text/css'>

{% endblock %}
{% block content %}
    <BR>
    <br>
    <br>
    <main class="content_wrapper">
        <div class="container">
            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        &nbsp;
                    </div>
                </div>
                <div class="row ">
                    <div  tabindex="-1" role="dialog" aria-labelledby="modal-set-ramalLabel" >
                        <div class="col-lg" style="max-width:1245px;margin-left: auto;margin-right: auto;background-color: #F7F7F7;">
                            <div class="shadow-lg bg-white rounded mb-4" style="padding: 15px;background-color: #F7F7F7">
                                <div class="card-header" style="background-color: #F7F7F7">
                                    <div class="card-title col-sm-5">
                                        <h6 style= "color:#FF5403">Relatório Fluxo de Caixa</h6>
                                    </div>
                                    <div class='col-sm-7' align="Right">
                                        <button type="button" class="btn btn-secondary btn-sm" id="cmdCancelar">Voltar</button>
                                        <button type="button" class="btn btn-primary btn-sm" id="cmdEnviar">Gerar Relatório</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class='row'>
                                        <div class="col-md-3">
                                            &nbsp;
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='vl_lancamento'>Dt Vencimento Ini:&nbsp;</label>
                                            <input type="text" class='form-control form-control-sm' id="dt_vencimento_ini" name="dt_vencimento_ini"/> 
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='vl_lancamento' >Dt Vencimento Fim</label>
                                            <input type="text" class='form-control form-control-sm' id="dt_vencimento_fim" name="dt_vencimento_fim"/> 
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class="col-md-3">
                                            &nbsp;
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='vl_lancamento'>Dt Faturamento Ini:&nbsp;</label>
                                            <input type="text" class='form-control form-control-sm' id="dt_faturamento_ini" name="dt_faturamento_ini"/> 
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='vl_lancamento' >Dt Faturamento Fim</label>
                                            <input type="text" class='form-control form-control-sm' id="dt_faturamento_fim" name="dt_faturamento_ini"/> 
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class="col-md-3">
                                            &nbsp;
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='vl_lancamento'>Dt Pagamento Ini:&nbsp;</label>
                                            <input type="text" class='form-control form-control-sm' id="dt_pagamento_ini" name="dt_pagamento_ini"/> 
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='vl_lancamento' >Dt Pagamento Fim</label>
                                            <input type="text" class='form-control form-control-sm' id="dt_pagamento_fim" name="dt_pagamento_ini"/> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            &nbsp;
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='tipos_operacao_pk'>Lançamento(s):&nbsp;</label>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            &nbsp;
                                        </div>
                                        <div class='col-md-2'>
                                            <input type="checkbox" id="tipo_lancamento_receita">&nbsp;Receita                
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            &nbsp;
                                        </div>
                                        <div class='col-md-2'>
                                            <input type="checkbox" id="tipo_lancamento_despesa">&nbsp;Despesa                
                                        </div>
                                    </div>
                                    <p>
                                    
                                    <div class="row">
                                        <div class="col-md-3">
                                            &nbsp;
                                        </div>
                                        <div class='col-md-3' >
                                            <label for='tipos_operacao_pk'>Tipo Operação / Planos Conta:&nbsp;</label>
                                            <select class='form-control form-control-sm'  id='tipos_operacao_pk_receita' name='tipos_operacao_pk_receita' requered/>
                                                <option value=""></option>
                                            </select>   
                                        </div> 
                                    </div>
                                    <div class='row'>  
                                        <div class="col-md-3">
                                            &nbsp;
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='tipos_operacao_pk'>Empresas(s) lançamento(s)&nbsp;</label>
                                            <select class='form-control form-control-sm '  id='empresas_pk' name='empresas_pk' requered/>
                                                <option value=""></option>
                                            </select>  
                                        </div>                                     
                                    <div class='col-md-3'>
                                            <label for='contas_pk'>Conta do Bancária:&nbsp;</label>
                                            <select class='form-control form-control-sm'  id='contas_bancarias_pk' name='contas_bancarias_pk' />
                                                <option value=""></option>
                                            </select>  
                                        </div>
                                    </div>  
                                    <div class='row'>
                                        <div class="col-md-3">
                                            &nbsp;
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='tipo_grupo_pk'>Grupo Origem do Lançamento:&nbsp;</label>
                                            <select class='form-control form-control-sm chzn-select'  id='tipo_grupo_pk' name='tipo_grupo_pk'/>
                                                <option value=""></option>
                                                <option value="1">Leads (Clientes)</option>
                                                <option value="2">Colaboradores</option>
                                                <option value="3">Fornecedores</option>
                                            </select>  
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='vl_lancamento' class='recebido_de_pago_para'>Recebido de ? / Pago de ?:</label>
                                            <select class='form-control form-control-sm chzn-select'  id='grupo_leancamento_pk' name='grupo_leancamento_pk'/>
                                                <option value=""></option>
                                            </select>  
                                        </div>
                                    </div>
                                    
                                    <div class='row'>
                                        <div class="col-md-3">
                                            &nbsp;
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='tipos_operacao_pk'>Status:&nbsp;</label>
                                            <select class='form-control form-control-sm'  id='ic_status' name='ic_status' />
                                                <option value=""></option>
                                                <option value="1">Pago</option>
                                                <option value="2">Pendente</option>
                                                <option value="3">Aprovado</option>
                                                <option value="4">Atrasado</option>
                                                <option value="5">Cancelado</option>
                                            </select>  
                                        </div>
                                        <div class='col-md-3'>
                                            <label for='tipos_operacao_pk'>Usuário Cadastro:&nbsp;</label>
                                            <select class='form-control form-control-sm '  id='usuario_cadastro_pk' name='usuario_cadastro_pk' />
                                                <option value=""></option>
                                            </select>  
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
