
{% set area = 'relatorios' %}
{% extends "theme/base.twig" %}
{% block JSfiles %}
    {{ parent() }}
    <script src="/assets/plugins/jquery/js/jquery.datatables1.10.19.js"></script>
    <script src="/assets/plugins/jquery/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/plugins/bootstrap-wizard/bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js?v=14"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>
    <script src="/assets/js/local/rel_titulo_plano_contas_res.js?v=14"></script>
{% endblock %}
{% block title %}
        Relatório Título por Plano de Contas
{% endblock %}
{% block CSSfiles %}
    {{ parent() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href='{{ base_url() }}/assets/plugins/datepicker/css/bootstrap-datepicker.min.css' rel='stylesheet'>
    <link href='{{ base_url() }}/assets/plugins/bootstrap/css/dataTables.bootstrap4.min.css' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/bootstrap-wizard/bootstrap.wizard.css" rel="stylesheet" type="text/css">
    <link href='/assets/plugins/daterangepicker/daterangepicker.css?v={{ JSversion }}' rel='stylesheet' type='text/css'>

{% endblock %}
{% block content %}
<br><br><br><br>
    <main class="content_wrapper">
        <div class="container">
            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        &nbsp;
                    </div>
                </div>
                <div class="row ">
                    <div  tabindex="-1" role="dialog" aria-labelledby="modal-set-ramalLabel" >
                        <div class="col-lg" style="max-width:1245px;margin-left: auto;margin-right: auto;background-color: #F7F7F7;">
                            <div class="shadow-lg bg-white rounded mb-4" style="padding: 15px;background-color: #F7F7F7">
                                <div class="card-header" style="background-color: #F7F7F7">
                                    <div class="card-title col-sm-5">
                                        <h6 style= "color:#FF5403"> Relatório Título por Plano de Contas</h6>
                                    </div>
                                    <div class='col-sm-7' align="Right">
                                        <button type="button" class="btn btn-secondary btn-sm" id="cmdCancelar">Voltar</button>
                                        <button type="button" class="btn btn-primary btn-sm" id="cmdExport">Export</button>
                                    </div>
                                </div>
                                <hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'>
                                <br>
                                <div id='form'>
                                    <table>
                                        <tr>
                                            <td>
                                                <b>Relatório:</b>
                                            </td>
                                            <td>
                                                Título por Plano de Contas
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Dt Emissão:</b>
                                            </td>
                                            <td>
                                                <div><span id="dt_emissao"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Usuário Emissão:</b>
                                            </td>
                                            <td>
                                                <div>{{ session['session_user']['par2'] }}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Período Vencimento:</b>
                                            </td>
                                            <td>
                                            <div>{{dt_vencimento_ini}} - {{dt_vencimento_fim}}</div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <b>Tipo Lançamento:</b>
                                            </td>
                                            <td>
                                            <div>{{ds_grupo_leancamento}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Empresas:</b>
                                            </td>
                                            <td>
                                            <div>{{ds_empresa}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Grupo Origem do Lançamento:</b>
                                            </td>
                                            <td>
                                            <div>{{ds_tipo_grupo}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Recebido de? / Pago de?:</b>
                                            </td>
                                            <td>
                                            <div>{{ds_grupo_leancamento}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Usuário Cadastro:</b>
                                            </td>
                                            <td>
                                            <div>{{ds_usuario_cadastro}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Status:</b>
                                            </td>
                                            <td>
                                            <div>{{ds_ic_status}}</div>
                                            </td>
                                        </tr>
                                    </table>
                                    <input type="hidden" id="dt_vencimento_ini" value="{{dt_vencimento_ini}}">
                                    <input type="hidden" id="dt_vencimento_fim" value="{{dt_vencimento_fim}}">
                                    <input type="hidden" id="grupo_leancamento_pk" value="{{grupo_leancamento_pk}}">
                                    <input type="hidden" id="empresas_pk" value="{{empresas_pk}}">
                                    <input type="hidden" id="tipo_grupo_pk" value="{{tipo_grupo_pk}}">
                                    <input type="hidden" id="tipos_operacao_pk_receita" value="{{tipos_operacao_pk_receita}}">
                                    <input type="hidden" id="usuario_cadastro_pk" value="{{usuario_cadastro_pk}}">
                                    <input type="hidden" id="ic_status" value="{{ic_status}}">
                                    <input type="hidden" id="tipo_lancamento_pk" value="{{tipo_lancamento_pk}}">
                                    <input type="hidden" id="dt_pagamento_ini" value="{{dt_pagamento_ini}}">
                                    <input type="hidden" id="dt_pagamento_fim" value="{{dt_pagamento_fim}}">
                                    <input type="hidden" id="contas_bancarias_pk" value="{{contas_bancarias_pk}}">
                                    <input type="hidden" id="dt_faturamento_ini" value="{{dt_faturamento_ini}}">
                                    <input type="hidden" id="dt_faturamento_fim" value="{{dt_faturamento_fim}}">
                                    
                                    <br>
                                    <hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'>
                                    <p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="grid"></div>
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}