{% set area = 'cpanel' %}
{% extends "theme/base.twig" %}
{% block JSfiles %}
    {{ parent() }}
    <script src="/assets/plugins/jquery/js/jquery.datatables1.10.19.js"></script>
    <script src="/assets/plugins/jquery/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/plugins/bootstrap-wizard/bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js?v=14"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>
    <script src="/assets/js/local/conta_res.js?v=14"></script>
{% endblock %}
{% block title %}
    Contas
{% endblock %}
{% block CSSfiles %}
    {{ parent() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href='{{ base_url() }}/assets/plugins/datepicker/css/bootstrap-datepicker.min.css' rel='stylesheet'>
    <link href='{{ base_url() }}/assets/plugins/bootstrap/css/dataTables.bootstrap4.min.css' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/bootstrap-wizard/bootstrap.wizard.css" rel="stylesheet" type="text/css">
    <link href='/assets/plugins/daterangepicker/daterangepicker.css?v={{ JSversion }}' rel='stylesheet' type='text/css'>

{% endblock %}
{% block content %}
    <BR>
    <br>
    <br>
    <main class="content_wrapper">
            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        &nbsp;
                    </div>
                </div>
                <div class="row ">

                    <div  id="abrir" tabindex="-1" role="dialog" aria-labelledby="modal-set-ramalLabel" >
                        <div class="col-lg" style="max-width:1245px;margin-left: auto;margin-right: auto;background-color: #F7F7F7;">
                            <div class="shadow-lg bg-white rounded mb-4" style="padding: 15px;">
                                <div class="card-header" style="background-color: #F7F7F7">
                                    <div class="card-title col-sm-4">
                                        <h5 style= "color:#FF5403"  >Pesquisar Contas</h5>
                                    </div>
                                    <div class='col-sm-8' align="Right">
                                        <button type="button" class="btn btn-secondary btn-sm" id="cmdVoltarConta">Voltar</button>
                                        &nbsp;
                                        <button type="button" class="btn btn-primary btn-sm" id="cmdIncluirConta">Novo</button>
                                        &nbsp;
                                        <button type="button" style="background-color:green" class="btn btn-primary btn-sm" id="cmdAtivar">Ativar Contas</button>
                                        &nbsp;
                                        <button type="button" class="btn btn-danger btn-sm" id="cmdDesativar">Desativar Contas</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-4'>
                                        &nbsp;
                                    </div>
                                    <div class='col-md-4'>
                                        <label for='ds_uf'>Tipo Pessoa:</label>
                                        <select id="ic_tipo_lead" class='form-control form-control-sm'  name="ic_tipo_lead">
                                            <option ></option>
                                            <option value="1">PF</option>
                                            <option value="2">PJ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-4'>
                                        &nbsp;
                                    </div>
                                    <div class='col-md-4'>
                                        <label for='ds_uf'>Conta:</label>
                                        <input type="text" class="form-control form-control-sm" id="ds_conta" required="true">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-4'>
                                        &nbsp;
                                    </div>
                                    <div class='col-md-4'>
                                        <label for='ds_uf'>Razão Social:</label>
                                        <input type="text" class="form-control form-control-sm" id="ds_razao_social" required="true">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-4'>
                                        &nbsp;
                                    </div>
                                    <div class='col-md-4'>
                                        <label for='ds_uf'>CPF / CNPJ:</label>
                                        <input type="text" class="form-control form-control-sm" id="ds_cpf_cnpj" required="true">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4">
                                        <label for="ic_status">Status:&nbsp;</label>
                                        <select id="ic_status" class="form-control form-control-sm" name="ic_status">
                                            <option value=""></option>
                                            <option value="1">Ativo</option>
                                            <option value="2">Inativo</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-4" align="center">
                                            <button type="button" class="btn btn-primary btn-md btn-sm" id="cmdPesquisarConta">Pesquisar</button>
                                        </div>
                                    </div>
                                    <p>
                                    <hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'>
                                    <p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered nowrap" style="width:95%" id="tblResultado">
                                                <thead>
                                                    <th>Código</th>
                                                    <th>Tipo Pessoa</th>
                                                    <th>Conta</th>
                                                    <th>CPF/CNPJ</th>
                                                    <th>Tipo Conta</th>
                                                    <th>Ativação</th>
                                                    <th>Status</th>
                                                    <th>Ação</th>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}