{% set area = 'comercial' %}
{% extends "theme/base.twig" %}
{% block JSfiles %}
    {{ parent() }}
    <script src="/assets/js/local/atendimento.js?v=14"></script>
    <script src="/assets/plugins/bootstrap-wizard/bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js?v={{ JSversion }}"></script>
{% endblock %}
{% block title %}
    Atendimento
{% endblock %}
{% block CSSfiles %}
    {{ parent() }}
    <link href='{{ base_url() }}/assets/css/local/receptivo.css' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/bootstrap-wizard/bootstrap.wizard.css" rel="stylesheet" type="text/css">
    <link href='/assets/plugins/daterangepicker/daterangepicker.css?v={{ JSversion }}' rel='stylesheet' type='text/css'>

{% endblock %}
{% block content %}
    <BR>
    <main class="main-content">
        <div class="container col">
            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        &nbsp;
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 col-lg-12 d-flex align-items-stretch">
                        <div class="widthfull card card-shadow mb-12" style="width: 1290px">
                            <div class="card-header" style="background-color: #F7F7F7">
                                <div class="card-title">
                                    <h4 style= "color:#FF5403">Comercial</h4>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm">
                                        <h6 >Controle de Lead e Agenda</h6>
                                        <hr>
                                        <div class="text-left">
                                            <div class=' col-sm text-left'>
                                                <a class="nav-link" href="/lead/receptivo?local=1">
                                                    <i class="bi bi-building-add" style="font-size:30px; color:blue"></i>
                                                    <span class="ms-2 " style="font-size: 15px;color:blue">Lead's</span>
                                                </a>
                                            </div>
                                        </div>
                                        <p>
                                        <div class="text-left">
                                            <div class=' col-sm text-left'>
                                                <a class="nav-link" href="/agenda_calendario/receptivo">
                                                    <i class="bi bi-calendar2-date" style="font-size:30px; color:blue"></i>
                                                    <span class="ms-2" style="font-size: 15px;color:blue">Agenda</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <h6>Controle de Propostas e Contratos</h6>
                                        <hr>
                                        <div class="text-left">
                                            <div class=' col-sm text-left'>
                                                <a class="nav-link" href="/propostas_facilities/receptivo">
                                                    <i class="bi bi-file-earmark-check" style="font-size:30px; color:blue"></i>
                                                    <span class="ms-2" style="font-size: 15px;color:blue">Proposta</span>
                                                </a>
                                            </div>
                                        </div>
                                        <p>
                                        <div class="text-left">
                                            <div class=' col-sm text-left'>
                                                <a class="nav-link" href="/contrato/receptivo">
                                                    <i class="bi bi-cc-circle" style="font-size:30px; color:blue"></i>
                                                    <span class="ms-2" style="font-size: 15px;color: blue">Contratos</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}