{% extends "theme/base.twig" %}
{% block JSfiles %}
    {{ parent() }}
    <script src="/assets/js/local/atendimento.js?v=14"></script>
    <script src="/assets/plugins/bootstrap-wizard/bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js?v={{ JSversion }}"></script>
{% endblock %}
{% block title %}
    Atendimento
{% endblock %}
{% block CSSfiles %}
    {{ parent() }}
    <link href='{{ base_url() }}/assets/css/local/receptivo.css' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/bootstrap-wizard/bootstrap.wizard.css" rel="stylesheet" type="text/css">
    <link href='/assets/plugins/daterangepicker/daterangepicker.css?v={{ JSversion }}' rel='stylesheet' type='text/css'>

{% endblock %}
{% block content %}
    <BR>
    <main class="main-content">
        <div class="container-fluid bg-white px-0 muze-chats ">

        </div>
    </main>
{% endblock %}